/* ==========================================================
   Dev - 28/07/26 - Start
========================================================== */

.department-page{
    padding:30px;
    min-height:100vh;
    background:#070B17;
    margin:0px;
}

/* Responsive */

@media(max-width:768px){

.department-page{
padding:18px;

}

}

/* ==========================================================
   Dev - 28/07/26 - End
========================================================== */