.department-main{
    display:flex;
    width:100%;
}

.department-content{
    flex:1;
    transition:.3s;
}

.department-content.drawer-open{
    margin-right:420px;
}

.drawer{
    position:fixed;
    top:0;
    right:-420px;
    width:420px;
    height:100vh;
    background:#111827;
    transition:.3s ease;
}

.drawer.open{
    right:0;
}

.drawer-panel{
    width:400px;
    height:100vh;
    background:#111827;
    padding:30px;
    overflow-y:auto;
    animation:slide .3s ease;
}

@keyframes slide{

from{
transform:translateX(100%);
}

to{
transform:translateX(0);
}

}

.drawer-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.drawer-header h2{
color:#fff;
font-size:24px;
}

.close-btn{
background:none;
border:none;
color:white;
font-size:24px;
cursor:pointer;
}

.drawer-panel form{
display:flex;
flex-direction:column;
gap:16px;
}

.drawer-panel label{
color:white;
font-size:14px;
font-weight:600;
}

.drawer-panel input,
.drawer-panel select{
width:100%;
padding:12px 15px;
background:#1f2937;
border:1px solid #374151;
border-radius:8px;
color:white;
font-size:14px;
outline:none;
}

.drawer-panel input:focus,
.drawer-panel select:focus{
border-color:#7c3aed;
}

.button-group{
display:flex;
gap:15px;
margin-top:10px;
}


.submit-btn{
flex:1;
padding:13px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:15px;
font-weight:600;
position:relative;
left:200px;
}

.cancel-btn{
background:#374151;
color:white;
}
.cancel-btn{
 flex:1;
padding:13px;
border:none;
border-radius:8px;
cursor:pointer;
font-size:15px;
font-weight:600;   
}

.submit-btn{
background:linear-gradient(90deg,#7c3aed,#ec1874);
color:white;
}

.cancel-btn:hover,
.submit-btn:hover{
opacity:.9;
}