.table-container{
    margin-top:25px;
    overflow-x:auto;
}

.department-table{
    width:100%;
    border-collapse:collapse;
}

.department-table th,
.department-table td{
    padding:18px 20px;
    vertical-align:middle;
}

.department-table th{
    text-align:left;
}

.department-table td{
    text-align:left;
}

.department-name{
    background:none;
    border:none;
    color:#8b5cf6;
    cursor:pointer;
    font-size:15px;
    font-weight:600;
}

.department-name:hover{
    color:#ec4899;
}

.status{
    padding:6px 14px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.active{
    background:#123b22;
    color:#22c55e;
}

.inactive{
    background:#451515;
    color:#ef4444;
}

.action-btn{
    width:38px;
    height:38px;
    border:none;
    border-radius:8px;
    background:#252733;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.action-btn:hover{
    background:#7c3aed;
}

.no-data{
    text-align:center;
    padding:40px;
    color:#9ca3af;
}